Repository heptio/gimbal, pull requests merged in 2018-06, with the labels that each got.

#157 deployment: remove kube-state-metrics from docs
  deployment/README.md
Labels: documentation, monitoring

#158 discovery/openstack: remove unused 'resync-interval' flag
  discovery/cmd/openstack-discoverer/main.go
Labels: discoverer

#159 docs/monitoring: add sample alert rules
  docs/monitoring.md
Labels: documentation, monitoring

#170 Minor cleanup of deployment docs
  deployment/README.md
Labels: documentation
